{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Forum Categories" %}</h1>
  {% if category_list %}
  <ul>
    {% for category in category_list %}
      <li>
        <a href="{{ category.get_absolute_url }}"><strong>{{ category.name }}</strong></a>
        <p>{{ category.description }}</p>
        <small>{% trans "Threads:" %} {{ category.thread_count }}</small>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>{% trans "There are no categories in the forum." %}</p>
  {% endif %}
{% endblock %}
