{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "User Profile:" %} {{ userprofile.user.username }}
    {% if request.user.is_authenticated %}
      {% if request.user == userprofile.user or request.user.is_staff %}
      &nbsp;<a href="{% url 'profile-edit' userprofile.pk %}" style="text-decoration: none;">[{% trans "edit" %}]</a>
      {% endif %}
    {% endif %}
  </h1>

  <div class="row">
    <div class="col-md-3">
      {% if userprofile.avatar %}
        <img src="{{ userprofile.avatar }}" class="img-fluid" alt="{% trans 'Avatar' %}">
      {% else %}
        <div class="bg-secondary text-white p-5 text-center">{% trans "No Avatar" %}</div>
      {% endif %}
    </div>
    <div class="col-md-9">
      <p><strong>{% trans "Bio:" %}</strong> {{ userprofile.bio|default:"No bio provided" }}</p>
      <p><strong>{% trans "Location:" %}</strong> {{ userprofile.location|default:"Not specified" }}</p>
      {% if userprofile.website %}
        <p><strong>{% trans "Website:" %}</strong> <a href="{{ userprofile.website }}" target="_blank">{{ userprofile.website }}</a></p>
      {% endif %}
      <p><strong>{% trans "Joined:" %}</strong> {{ userprofile.joined_date }}</p>
      <p><strong>{% trans "Total Posts:" %}</strong> {{ userprofile.post_count }}</p>
      <p><strong>{% trans "Total Threads:" %}</strong> {{ userprofile.thread_count }}</p>
    </div>
  </div>

  <hr>

  <h4>{% trans "Recent Threads by" %} {{ userprofile.user.username }}</h4>
  {% if userprofile.user.threads.all %}
    <ul>
      {% for thread in userprofile.user.threads.all|slice:":5" %}
        <li>
          <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a> 
          {% trans "in" %} <a href="{{ thread.category.get_absolute_url }}">{{ thread.category.name }}</a>
          - {{ thread.created_date }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans "No threads created yet." %}</p>
  {% endif %}

  <h4>{% trans "Recent Posts by" %} {{ userprofile.user.username }}</h4>
  {% if userprofile.user.posts.all %}
    <ul>
      {% for post in userprofile.user.posts.all|slice:":5" %}
        <li>
          {% trans "Post in" %} <a href="{{ post.thread.get_absolute_url }}">{{ post.thread.title }}</a>
          - {{ post.created_date }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans "No posts yet." %}</p>
  {% endif %}
{% endblock %}
